<h2>All Agents</h2>

<a href="/agents/new">New Agent Form</a>
<br>

{{#each agents}}
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img class="cardPhoto" src="https://i.imgur.com/sUN5Yyum.jpg?2" alt="placeholder"
                style="width: 200px; height: 200px">
        </div>
        <div class="flip-card-back">
            <h3><a href="/agents/{{_id}}">{{name}}</a></h3>
            <h5>Specialty: {{specialty}}</h5>
            <h5>Areas Served: {{areasServed}}</h5>
            <h5>Team: {{team}}</h5>
        </div>
    </div>
</div>
{{/each}}