<h2>All Agents</h2>

<a class="btn btn-outline-light non-group-button" href="/agents/new">New Agent</a>
<br>

{{#each agents}}
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img class="cardPhoto img-thumbnail" src="https://i.imgur.com/pIbaozvb.jpg?1"
                style="width: 200px; height: 200px">
        </div>
        <div class="flip-card-back">
            <h3 class="agent-card"><a href="/agents/{{_id}}">{{name}}</a></h3>
            <h5 class="agent-card">Specialty: {{specialty}}</h5>
            <h5 class="agent-card">Areas Served: {{areasServed}}</h5>
            <h5 class="agent-card">Team: {{team}}</h5>
        </div>
    </div>
</div>
{{/each}}