
<a class="btn btn-outline-secondary non-group-button" href="/agents/{{agent._id}}">Back to all agents</a>
<br>
<img src="https://i.imgur.com/sUN5Yyum.jpg?2" class="img-thumbnail" alt="">
<h3 class="client">Name:{{client.name}}</h3>
<p class="client">Property Types:{{client.propertyTypes}}</p>
<p class="client">Neighborhoods:{{client.neighborhoods}}</p>
<p class="client">Price Range: ${{client.priceRange}}</p>
<p class="client">Beds:{{client.beds}}</p>
<p class="client">Baths:{{client.baths}}</p>
<p class="client">Email:{{client.email}}</p>
<p class="client">Phone: {{client.price}}</p>

<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-outline-secondary" href="/clients/{{client._id}}/edit">Edit Client</a>
    <form action="/clients/{{client._id}}?_method=DELETE" method="post">
        <input type="submit" class="btn btn-outline-danger" value="Delete Client">
    </form>
</div>