
<a class="btn btn-outline-light non-group-button" href="/agents/{{agent._id}}">Back to all agents</a>
<br>
<h4 class="client">{{client.name}}</h4>
<p class="client">Property Types:{{client.propertyTypes}}</p>
<p class="client">Neighborhoods:{{client.neighborhoods}}</p>
<p class="client">Price Range: ${{client.priceRange}}</p>
<p class="client">Beds:{{client.beds}}</p>
<p class="client">Baths:{{client.baths}}</p>
<p class="client">Email:{{client.email}}</p>
<p class="client">Phone: {{client.price}}</p>

<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-outline-light" href="/clients/{{client._id}}/edit">Edit Client</a>
    <form action="/clients/{{client._id}}?_method=DELETE" method="post">
        <input type="submit" class="btn btn-outline-danger" value="Delete Client">
    </form>
</div>