<a class="btn btn-outline-secondary non-group-button" href="/agents/{{agent._id}}">Back to agent</a>

<h2>Edit Agent</h2>

<form method="POST" action="/agents/{{agent._id}}?_method=PUT">

<label for="name">Agent Name:</label>
<input 
type="text" 
name="name" 
id="name"
value="{{agent.name}}"
>

<label for="specialty">Specialty</label>
<input 
type="text" 
name="specialty" 
id="specialty"
value="{{agent.specialty}}"
>

<label for="areas-served">Areas Served:</label>
<input 
type="text" 
name="areasServed" 
id="areas-served"
value="{{agent.areasServed}}"
>

<label for="team">Team:</label>
<input 
type="text" 
name="team" 
id="team"
value="{{agent.team}}"
>

<input type="submit" class="btn btn-outline-success non-group-button" value="Update Agent" />
</form>
