<a class="btn btn-outline-secondary" href="/agents">Back to all agents</a>
<br>
<img src="https://i.imgur.com/sUN5Yyum.jpg?2" class="img-thumbnail" alt="">
<h3>{{agent.name}}</h3>
<p>Specialty:{{agent.specialty}}</p>
<p>Areas Served:{{agent.areasServed}}</p>
<p>Team:{{agent.team}}</p>


<a class="btn btn-outline-secondary" href="/agents/{{agent._id}}/edit">Edit Agent</a>

<form action="/agents/{{agent._id}}?_method=DELETE" method="post">
    <input type="submit" class="btn btn-outline-danger" value="Delete Agent">
</form>

<a class="btn btn-outline-secondary" href="/agents/{{agent._id}}/listing/new">New Listing Form</a>

<h3>Listings</h3>

<ul>
    {{#each listing}}
        <li>Address: {{address}}</li>
        <li>Neighborhoods: {{neighborhood}}</li>
        <li>Bedrooms: {{beds}}</li>
        <li>Bathrooms: {{baths}}</li>
        <li>Square Footage: {{squareFootage}}</li>
        <li>Price: {{price}}</li>
    {{/each}}
</ul>

<a class="btn btn-outline-secondary" href="/agents/{{agent._id}}/client/new">New Client Form</a>

<ul>
    {{#each client}}
        <li>Name: {{name}}</li>
        <li>Property Types: {{propertytypes}}</li>
        <li>Neighborhoods: {{neighborhoods}}</li>
        <li>Price Range: {{priceRange}}</li>
        <li>Beds: {{beds}}</li>
        <li>Baths: {{baths}}</li>
        <li>Email: {{email}}</li>
        <li>Phone: {{phone}}</li>
    {{/each}}
</ul>