<a class="btn btn-outline-light non-group-button" href="/agents">Back to agents</a>
<br>

<img src="https://i.imgur.com/pIbaozvh.jpg?1" class="img-thumbnail" style="width: 300px; height:300px;" alt="">
<h3 class="agent">{{agent.name}}</h3>
<p class="agent">Specialty: {{agent.specialty}}</p>
<p class="agent">Areas Served: {{agent.areasServed}}</p>
<p class="agent">Team: {{agent.team}}</p>

<a class="btn btn-outline-light" href="/agents/{{agent._id}}/edit">Edit Agent</a>


<hr>



<h3>Listings</h3>

<ul>
    {{#each listing}}
    <div class="card">

        <img class="listing" src="https://i.imgur.com/nMvjVCp.png" alt="">

        <li><a href="/listings/{{_id}}">{{address}}</a> </li>
        <li>Neighborhood: {{neighborhood}}</li>
        <li>Property Type: {{propertyType}}</li>
        <li>Bedrooms: {{beds}}</li>
        <li>Bathrooms: {{baths}}</li>
        <li>Square Footage: {{squareFootage}}</li>
        <li>Price: ${{price}}</li>
    </div>
    {{/each}}
</ul>

<a class="btn btn-outline-light non-group-button" href="/agents/{{agent._id}}/listing/new">New Listing</a>

<hr>

<h3>Clients</h3>

<ul>
    {{#each client}}
    <div class="card">
        <li><a href="/clients/{{_id}}">{{name}}</a> </li>
        <li>Property Types: {{propertyTypes}}</li>
        <li>Neighborhoods: {{neighborhoods}}</li>
        <li>Price Range: {{priceRange}}</li>
        <li>Beds: {{beds}}</li>
        <li>Baths: {{baths}}</li>
        <li>Email: {{email}}</li>
        <li>Phone: {{phone}}</li>
    </div>
    {{/each}}
</ul>

<a class="btn btn-outline-light non-group-button" href="/agents/{{agent._id}}/client/new">New Client</a>