<a href="/agents">Back to all agents</a>

<h3>{{agent.name}}</h3>
<p>{{agent.specialty}}</p>
<p>{{agent.areasServed}}</p>
<p>{{agent.team}}</p>

<a href="/agents/{{agent._id}}/edit">Edit Agent</a>

<a href="/agents/{{agent._id}}/listing/new">New Listing Form</a>

<form action="/agents/{{agent._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Agent">
</form>

<h3>Listings</h3>

<ul>
    {{#each listings}}
        <li>{{address}}</li>
    {{/each}}
</ul>
